@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

@font-face {
    font-family: jetbrainsmono;
    src: url('fonts/JetBrainsMonoNerdFontPropo-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--ctp-mocha-text);
    line-height: 1.2;
    font-family: jetbrainsmono, monospace;
}

button {
    padding: 0.5em;
    background-color: var(--ctp-mocha-surface0);
    border: none;
    border-radius: 1em;
}

button:hover {
    opacity: 0.8;
}

input {
    background-color: var(--ctp-mocha-surface0);
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    width: 80%;
}

.hidden {
    display: none !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
    background-color: var(--ctp-mocha-base);
}

header, footer {
    background-color: var(--ctp-mocha-mantle);
    padding: 1em;
}

header {
    font-size: 150%;
    font-weight: bold;
}

.main {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setup {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.player-form {
    width: 80%;
}

.player-form > button {
    align-self: center;
    font-size: 110%;
    padding-inline: 1em;
}

.players {
    /* flex: 1 1 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

legend {
    font-size: 150%;
}

.player-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.player-list > * {
    display: flex;
    align-items: center;
    gap: 1em;
    background-color: var(--ctp-mocha-surface1);
    padding: 0.5em;
    border-radius: 1em;
}

#start-round, #go-back, #reset {
    font-size: 200%;
    padding-inline: 1em;
    margin: 0.5em;
}

.game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#go-back, #reset {
    align-self: center;
}

.controls {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.game-grid {
    width: 80%;
    height:80%;
    align-self: center;
    justify-self: center;
    display: grid;
    gap: 1em;
}

.game-grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 400%;
    background-color: var(--ctp-mocha-mantle);
}
