* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

body {
    min-height: 100vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    text-align: center;
}

.main {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.main > * {
    border: 1px solid red;
}

.players {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

.game-grid {
    flex: 1 1 0;
    display: grid;
    gap: 1em;
}

.game-grid > * {
    border: 2px solid black;
}